# temporary files
tmp-*.gif
tmp-*.png
**/TemporaryHack*.scala
hs_err*
*~
.~*
nohup.out
*.swp
*.iml
*.tmp
null
data.mdb

# direnv
.envrc/
.env/

# IDE or build tool related
.bsp/
.metals/
.bloop/
.vscode/
.idea/
target/
project/target/
project/project/
project/metals.sbt

# sotohp related data
originals-*
cluster*/

# Security purposes
.envrc
