# temporary files
tmp-*.gif
tmp-*.png
**/TemporaryHack*.scala
hs_err*
*~
.~*
nohup.out
*.swp
*.iml
*.tmp
null
node_modules/

# direnv
.envrc
.env/

# IDE or build tool related
.bsp/
.metals/
.bloop/
.vscode/
.idea/
target/
out/
project/target/
project/project/
project/metals.sbt
frontend-user-interface-dist/*

# sotohp related data
originals-*
cluster*/
.sotohp/
.lmdb/

# user config related
david-keyword-rules.json